[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xmltodict = "*"
jupyter = "*"
tdqm = "*"
jikanpy-v4 = "*"
pandas = "*"
unidecode = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.11"
