[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
polars = "*"
httpx = "*"
streamlit = "*"
streamlit-javascript = "*"
altair = "*"
pydantic = "*"

[dev-packages]
pandas = "*"
ipykernel = "*"

[requires]
python_version = "3.13"
