{% extends "base.html.j2" %}
{% block content %}
<img src="/static/logo.png" alt="MyAnimeStats" style="width: 300px; height: auto;" class="center">
<form action="/analyse" method="get" class="center" style="margin-top: 20px;">
	<label for="username">Enter your MyAnimeList username:</label><br>
	<input type="text" name="username"><br>
	<button type="submit">Analyse</button>
</form>
{% endblock %}